@model LoginViewModel
@{
    ViewData["Title"] = "Login |";
}
@section meta {

    <!-- No need to change anything here -->
    <meta name="title" content="@ViewBag.Title - Prudent Women" />
    <meta name="keywords" content="Prudent women cooperative website" />
    <meta name="description" content="Prudent women cooperative website" />

    <!-- fb & Whatsapp -->
    <!-- Site Name, Title, and Description to be displayed -->
    <meta property="og:site_name" content="Prudent Women">
    <meta property="og:title" content="@ViewBag.Title - Prudent Women">
    <meta property="og:description" content="Prudent women cooperative website">

    <meta property="og:type" content="product" />
    <!-- Size of image. Any size up to 300. Anything above 300px will not work in WhatsApp -->
    <meta property="og:image:width" content="300">
    <meta property="og:image:height" content="300">

    <!-- Image to display -->
    <meta property="og:image" content="@(Context.Request.GetFullHostingUrlRoot() +"/assets/img/logos/logo.jpeg")">

    <!-- Website to visit when clicked in fb or WhatsApp-->
    <meta property="og:url" content="@(Context.Request.GetFullHostingUrlRoot() + Context.Request.Path)">
    <meta property="og:updated_time" content="@DateTime.Now.ToFileTime()">
    <meta property="og:locale" content="en_US" />
    <link rel="canonical" href="@(Context.Request.GetFullHostingUrlRoot() + Context.Request.Path)">
}
<div class="login-brand">
    <img src="~/assets/img/logos/logo.jpeg" alt="logo" width="100" class="shadow-light rounded-circle">
</div>
<div class="card card-primary">
    <div class="card-header">
        <h4>Login</h4>
    </div>
    <div class="card-body">
        <form method="POST" action="#" class="needs-validation" novalidate="">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" tabindex="1" autocomplete="username" aria-required="true" autofocus>
                <span class="invalid-feedback" asp-validation-for="Email"></span>
            </div>
            <div class="form-group">
                <div class="d-block">
                    <label asp-for="Password" class="control-label"></label>
                    <div class="float-right">
                        <a asp-area="Authentication" asp-controller="Auth" asp-action="ForgotPassword" class="text-small">
                            Forgot Password?
                        </a>
                    </div>
                </div>
                <input asp-for="Password" autocomplete="current-password" aria-required="true" class="form-control" tabindex="2">
                <span class="invalid-feedback" asp-validation-for="Password">
                    please fill in your password
                </span>
            </div>
            <div class="form-group">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" asp-for="RememberMe" class="custom-control-input" tabindex="3">
                    <label class="custom-control-label" asp-for="RememberMe">@Html.DisplayNameFor(m => m.RememberMe)</label>
                </div>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-lg btn-block" tabindex="4">Login </button>
            </div>
        </form>
    </div>
</div>
<div class="mt-2 text-muted text-center">
    <a asp-area="Authentication" asp-controller="Auth" asp-action="Register" asp-route-returnUrl="@Model.ReturnUrl">Create Account</a> &nbsp; &nbsp; &nbsp;
    
    <a id="resend-confirmation" asp-area="Authentication" asp-controller="Auth" asp-action="ResendEmailConfirmation">Resend email confirmation</a>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
