@using Monochrome.Module.Core.Models
@model Monochrome.Module.Core.Services.PaginatedTable<UserListItemVm>
@{
    ViewData["Title"] = "Users |";
    var search = ViewData["Search"];
}

<!-- Start app main Content -->
<div class="main-content">
    <div class="row row-deck">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4>Users</h4>
                    <div class="card-header-form">
                        <form method="get" action="/admin/users/list">
                            <div class="input-group">
                                <input type="text" name="search" class="form-control" placeholder="Search">
                                <div class="input-group-btn">
                                    <button type="submit" class="btn btn-primary"><i class="fas fa-search"></i></button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="card-header-action">
                        <a href="javascript:void(0);" class="btn btn-info" id="new_user">Create User <i class="fas fa-chevron-right"></i></a>
                    </div>
                </div>
                <div class="card-body p-0">
                    <div class="table-responsive table-invoice">
                        <table class="table table-striped">
                            <tr>
                                <th>Username</th>
                                <th>Full Name</th>
                                <th>Email</th>
                                <th>Status</th>
                                <th>Roles</th>
                                <th>Confirmed</th>
                                <th>Date Created</th>
                                <th>Action</th>
                            </tr>
                            @foreach(var item in Model.Data)
                            {
                                <tr>
                                    <td data-username="@item.Username">@item.Username</td>
                                    <td>@item.FullName</td>
                                    <td data-email="@item.Email" class="font-weight-600">@item.Email</td>
                                    <td>
                                        <div class="btn-group">
                                            @switch (item.Status)
                                            {
                                                case UserStatus.Active:
                                                    <div class="badge badge-success" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">@item.Status</div>
                                                    break;
                                                case UserStatus.Deleted:
                                                    <div class="badge badge-danger" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">@item.Status</div>
                                                    break;
                                                case UserStatus.Dormant:
                                                    <div class="badge badge-info" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">@item.Status</div>
                                                    break;
                                                case UserStatus.Suspended:
                                                    <div class="badge badge-warning" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">@item.Status</div>
                                                    break;
                                                default:
                                                    break;
                                            }
                                            <div class="dropdown-menu">
                                                @{
                                                    var stats = ViewBag.Status;
                                                    foreach(var status in stats)
                                                    {
                                                        <a class="dropdown-item" href="javascript:void(0)" data-status="@status" data-id="@item.Id">@status</a>
                                                    }
                                                }
                                            </div>
                                        </div>
                                    </td>
                                    <td><div class="badge badge-warning">@string.Join(",", item.Roles)</div></td>
                                    <td><div class="badge badge-@(item.EmailConfirmed? "info" : "danger")"><i class="fa fa-@(item.EmailConfirmed ? "check" : "times")"></i></div></td>
                                    <td>@item.DateCreated.ToString("dd MMM yyyy")</td>
                                    <td>
                                        <a href="/admin/users/get-user/@item.Id" class=" mr-1"
                                           data-toggle="tooltip" title="Edit"
                                           data-user="/admin/users/update-user"
                                           data-fetch="getUser"
                                           data-update="updateUser">
                                            <i class="fas fa-pencil-alt"></i>
                                        </a>
                                        <a href="/admin/users/delete-user" class="danger" data-toggle="tooltip" title="Delete" data-delete-user="@item.Id" data-reflect="Delete User?|This action can not be undone. Do you want to continue?"><i class="fas fa-trash danger"></i></a>
                                    </td>
                                </tr>
                            }
                        </table>
                    </div>
                </div>
                <div class="card-footer text-right">
                    @{
                        var totalPages = Model.TotalPages;
                        var currentPage = Model.Page;
                    }
                    <nav aria-label="Page navigation">
                        <ul class="pagination">
                            <li class="page-item @(Model.Page <= 1? "disabled" : "")">
                                <a class="page-link" href="/admin/users/list?page=1&search=@search" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                    <span class="sr-only">First</span>
                                </a>
                            </li>
                            <li class="page-item @(Model.Page <= 1? "disabled" : "")">
                                <a class="page-link" href="/admin/users/list?page=@(Model.Page - 1)&search=@search" aria-label="Previous">
                                    <span aria-hidden="true">&lsaquo;</span>
                                    <span class="sr-only">Previous</span>
                                </a>
                            </li>
                            @{
                                if (Model.Pages != null)
                                {
                                    for (int i = 0; i < Model.Pages.Length; i++)
                                    {
                                        <li class="page-item"><a class="page-link" href="/admin/users/list?page=@Model.Pages[i]&search=@search">@Model.Pages[i]</a></li>
                                    }
                                }
                                else
                                {
                                    <li class="page-item disabled"><a class="page-link" href="/admin/users/list?page=1&search=@search">1</a></li>
                                }
                            }
                            <li class="page-item  @(Model.Page *  Model.PageSize >= Model.TotalItems ? "disabled" : "")">
                                <a class="page-link" href="/admin/users/list?page=@(Model.Page + 1)&search=@search" aria-label="Next">
                                    <span aria-hidden="true">&rsaquo;</span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </li>
                            <li class="page-item  @(Model.Page *  Model.PageSize >= Model.TotalItems ? "disabled" : "")">
                                <a class="page-link" href="/admin/users/list?page=@Model.TotalPages&search=@search" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                    <span class="sr-only">Last</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script asp-append-version="true" type="text/javascript" src="~/js/pages/user-manager.js"></script>
}

@section modals{
    <div class="modal fade" tabindex="-1" role="dialog" id="user_modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Create or Edit Users</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="modal-user-part">
                        <input type="hidden" name="Id" />
                        <div class="form-errors" id="create_errors"></div>
                        <div class="row">
                            <div class="col-md-6 col-sm-12">
                                <label>FirstName</label>
                                <input type="text" class="form-control" placeholder="FirstName" name="FirstName">
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <label>LastName</label>
                                <input type="text" class="form-control" placeholder="LastName" name="LastName">
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Email</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <i class="fas fa-envelope"></i>
                                    </div>
                                </div>
                                <input type="text" class="form-control" placeholder="Email" name="Email">
                            </div>
                        </div>

                        <label>UserName</label>
                        <input type="text" class="form-control" placeholder="UserName" name="UserName">

                        <div class="form-group">
                            <label>Roles</label>
                            <select class="form-control" name="Roles" asp-items="@ViewBag.Roles">
                                <option value="">None</option>
                            </select>
                        </div>
                        <div class="form-group" id="selected_roles"></div>
                        <div class="form-group">
                            <label>Password</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <i class="fas fa-lock"></i>
                                    </div>
                                </div>
                                <input type="password" class="form-control" placeholder="Password" name="Password">
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Confirm Password</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <i class="fas fa-lock"></i>
                                    </div>
                                </div>
                                <input type="password" class="form-control" placeholder="Confirm Password" name="ConfirmPassword">
                            </div>
                        </div>
                    </form>

                </div>
                <div class="modal-footer bg-whitesmoke br">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="save_user">Save</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" tabindex="-1" role="dialog" id="delete_modal">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Delete User</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <p>This action can not be undone. Do you want to continue?</p>
                        <div class="form-errors" id="del_errors"></div>
                        <input type="hidden" id="del_id" />

                        <label>UserName</label>
                        <input type="text" class="form-control" id="del_usr" disabled>

                        <label>Email</label>
                        <input type="text" class="form-control" id="del_email" disabled>

                    </form>

                </div>
                <div class="modal-footer bg-whitesmoke br">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-danger" id="delete_user">Delete</button>
                </div>
            </div>
        </div>
    </div>

}