@using Monochrome.Module.Core.Models
@using Monochrome.Module.Core.DataAccess
@model LoanApprovalDetails

@{
    ViewData["Title"] = "Loan Approval |";
}

<!-- Start app main Content -->
<div class="main-content">
    <section class="section">
        <div class="section-header">
            <h1>Dashboard</h1>
        </div>

        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <form action="/admin/Loans/Details" method="post">
                    <div class="card" id="settings-card">
                        <div class="card-header">
                            <h4>Loan Approval</h4>
                        </div>
                        <div class="card-body">
                            <div asp-validation-summary="All" class="text-danger"></div>
                            <input type="hidden" asp-for="Id" />
                            <div class="row">
                                <div class="col-md-6">
                                    @switch (Model.Status)
                                    {
                                        case LoanApplyStatus.Approved:
                                            <div class="badge badge-success">Approved</div>
                                            break;
                                        case LoanApplyStatus.Pending:
                                            <div class="badge badge-warning">Pending</div>
                                            break;
                                        case LoanApplyStatus.Rejected:
                                            <div class="badge badge-danger">Rejected</div>
                                            break;
                                        default:
                                            break;
                                    }
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Username</label>
                                        <input asp-for="UserAccount.User.UserName" disabled class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Full Name</label>
                                        <input type="text" value="@($"{Model.UserAccount.User.FirstName} {Model.UserAccount.User.LastName}")" disabled class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Amount Requested</label>
                                        <input type="text" value="@($"₦{(Model.AmountRequested/100):N2}")" disabled class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Amount Granted</label>
                                        @if (Model.Status == LoanApplyStatus.Approved)
                                        {
                                            <input type="text" value="@($"₦{Model.AmountGranted:N2}")" disabled class="form-control">
                                        }
                                        else
                                        {
                                            <input asp-for="AmountGranted" class="form-control">
                                        }
                                        <span class="invalid-feedback" asp-validation-for="AmountGranted"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Pecentage Interest</label>
                                        <input asp-for="PecentInterest" disabled class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Tenure</label>
                                        <input type="text" value="@Model.Tenure Month(s)" disabled class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Date Applied</label>
                                        <input type="text" value="@($"{Model.DateApplied:dd MMM yyyy}")" disabled class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Date Disbursed</label>
                                        <input type="text" value="@($"{Model.DateDisbursed:dd MMM yyyy}")" disabled class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Disbursement Account</label>
                                        <input asp-for="DisbursementAccount" disabled class="form-control">
                                        <p class="text-success">@Model.DisbursementAccountName</p>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Balance At Approval</label>
                                        <input type="text" value="@($"₦{(Model.BalanceAtApproval/100):N2}")" disabled class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Guarators</label>
                                        <input type="text" value="@Model.Guarantors" disabled class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Click to view supporting document</label>
                                        @foreach (var item in Model.SupportingDocuments.Split(","))
                                        {
                                            <a target="_blank" href="@item">@System.IO.Path.GetFileName(item)</a>
                                        }
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Comments</label>
                                        <textarea asp-for="Comments" class="form-control"></textarea>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    @{
                                        var duration = DateTime.Now - Model.UserAccount.DateCreated;
                                    }
                                    <p>
                                        @if (duration.TotalDays < 180)
                                        {
                                            <div class="badge badge-danger"><i class="fa fa-times"></i></div>
                                        }
                                        else
                                        {
                                            <div class="badge badge-success"><i class="fa fa-check"></i></div>
                                        }
                                        This user joined since @Model.UserAccount.DateCreated.ToString("dd MM yyy") (@(duration.TotalDays < 90 ? $"{Math.Floor(duration.TotalDays)} days" : $"{Math.Floor(duration.TotalDays / 30)} months"))
                                    </p>
                                    <p><div class="badge badge-primary"><i class="fa fa-exclamation-triangle"></i></div> <a class="" data-accountId="@Model.UserAccountId" href="javascript:void(0);">Click to view this user's saving history</a></p>
                                    @if ((Model.BalanceAtApproval * (30 / 100)) > Model.AmountRequested)
                                    {
                                        <p><div class="badge badge-success"><i class="fa fa-check"></i></div>Amount requested is less than 30% of user's balance. Current balance is ₦@((Model.BalanceAtApproval/100).ToString("N2"))</p>
                                    }
                                    else
                                    {
                                        <p><div class="badge badge-danger"><i class="fa fa-times"></i></div>This user does not have up to 30% of requested loan amount in his account. Current balance is ₦@((Model.BalanceAtApproval / 100).ToString("N2"))</p>
                                    }
                                   
                                    <p><div class="badge badge-warning"><i class="fa fa-exclamation-triangle"></i></div> View the documents provided above to verify guarantors for this loan</p>
                                    
                                    @if(Model.OutstandingLoans.Any())
                                    {
                                        <p><div class="badge badge-danger"><i class="fa fa-times"></i></div>This user has an outstanding loan of ₦@((Model.OutstandingLoans.Sum(k => k.AmountGranted) /100).ToString("N2"))</p>
                                    }
                                    else
                                    {
                                        <p><div class="badge badge-success"><i class="fa fa-check"></i></div>This user has no outstanding loans.</p>
                                    }
                                    
                                </div>
                            </div>
                        </div>
                        <div class="card-footer bg-whitesmoke text-md-right">
                            <button class="btn btn-primary" type="submit" disabled="@(Model.Status == LoanApplyStatus.Approved)">Approve</button>
                            <button class="btn btn-primary" id="disburse_btn" data-id="@Model.Id" type="button" disabled="@(Model.Status != LoanApplyStatus.Approved)">Disburse</button>
                            <a class="btn btn-danger" href="/admin/loans/reject/?" id="reject_loan" data-id="@Model.Id">Reject</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
</div>
